<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>

<body style="font-family: Arial, sans-serif;">

    <div>
        <h2>Redefinição de Senha</h2>
        <p>Olá,</p>
        <p>Você solicitou a redefinição da sua senha. Clique no link abaixo para criar uma nova senha:</p>
        <p><a href=%LINK% style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none;">Redefinir Senha</a></p>
        <p>Se você não solicitou a redefinição da senha, pode ignorar este email.</p>
        <p>Obrigado!</p>
    </div>

</body>

</html>