.bt-voltar{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.titulo{    
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome,
.sobrenome,
.dataNascimento,
.genero,
.cpf,
.telefone,
.peso,
.email,
.confirmarEmail,
.senha,
.confirmarSenha{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.bt-cadastrar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}