.bt-voltar{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.titulo{    
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.nome,
.sobrenome,
.dataNascimento,
.cpf,
.telefone,
.peso,
.email,
.confirmaEmail,
.senha,
.confirmaSenha{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.genero{
    width: 100%;
    margin-top: 2rem;
}

.escolha{
    display: flex;
    flex-direction: row;
}

.bt-cadastrar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (min-width: 425px) {
    .form{
        width: 90%;
    }

    .genero{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bt-cadastrar{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .form{
        width: 50%;
    }

    .genero{
        width: 50%;
    }

    .bt-cadastrar{
        margin-top: 2rem;
    }
   
}

@media screen and (min-width: 1024px) {
    
}