main {
    margin: 2rem;
    padding: 1rem;
    width: 100%;
}

.infoDeComeco{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form{
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.containerFiltros,
.filtro_ano, 
.filtro_dia, 
.filtro_mes, 
.filtro_campeonato,
.filtro_classificacao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerFiltros {
    gap: 3rem;
}

form label{
    font-weight: 500;
    color: white;
}

input, select.buscaSelect{
    width: 260px;
    font-family: var(--fonte-title);
    font-size: 1.4rem;
    font-weight: 500;
    background-color: white;
    border-color: var(--color-menu);
    border-width: 1px;
    border-radius: 10px;
    color: black;
    letter-spacing: 1.2px;
}

select.buscaSelect{
    padding: 1.3rem;
}

select option{
    height: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    border-width: 1px;
    border-radius: 10px;
    color: black;
    background-color: rgb(220, 220, 220);
}

select.buscaSelect option:checked {
    color: black; 
}

button.bt_filtrar{
    width: 260px;
}

article.card {
    display: flex;
    width: 250px;
    padding: 3rem;
    margin: .7rem;
    height: 390px;
    margin-bottom: 3rem;
    border: solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-color: var(--color-button);
    background-color: var(--background-cards);
    gap: 3rem;
}

.btn-verResultado {
    padding: 1.3rem;
    width: 180px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
    background-color: var(--color-button);   
    color: var(--text-base-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}