.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
/* titulo da pag */
.title {
    font-size: 3.4rem;
}
/*baixar o regulamento */
.downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}
.iconDownload{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}
/* icone do pdf */
i.ph.ph-file-pdf {
    color: #eb3a3a;
}
/* linhas do "baixe o regulamento" */
.lineDownload, .lineDownload::after {
    content: " ";
    display: block;
    width: 174px;
    /*largura*/
    height: 1px;
    background: var(--text-base-light)
}
.lineDownload::after{
    top: 119px;
    position: absolute;
}
/* estrurura dos cards */
article.card_ckc95, 
article.card_ckc110,
article.card_ddlLivre,
article.card_cmp110,
article.card_cmp95,
article.card_cmpLivre{ 
    display: flex;
    width: 300px;
    padding: 3rem;
    margin: .7rem;
    height: 530px;
    margin-bottom: 3rem;
    border: solid;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-color: var(--color-button);
    background-color: var(--background-cards);
    gap: 3rem;
}
/* titulos dos cards */
.titleCard_ckc95 h2,
.titleCard_ckc110 h2,
.titleCard_ddlLivre h2,
.titleCadcmp h2{ 
    font-size: 2.5rem;
}
strong.title_ckc95 {
    text-transform: uppercase;
    color: var(--categoria-ckc-95);
}
strong.title_ckc110 {
    text-transform: uppercase;
    color: var(--categoria-ckc-110);
}

strong.title_ddlLivre {
    text-transform: uppercase;
    color: var(--categoria-ddl-livre);
}
strong.title_cmp95,
strong.title_cmp110,
strong.title_cmpLivre {
    text-transform: uppercase;
    color: var(--color-cmp)
}
/* subtitulo dos cards */
.titleCard_ckc span,
.titleCard_ddl span,
.titleCard_cmp span {
    font-size: 1.7rem;
    font-weight: 500;
}
/* elementos interno do card */
.titleCard_ckc95,
.titleCard_ckc110,
.titleCard_ddlLivre, 
.date,
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fundo das categorias */
.categoria_cmpLivre,
.categoria_cmp95,
.categoria_cmp110,
.categoria_ckc95, 
.categoria_ckc110,
.categoria_ddlLivre{
    padding: .4em;
    width: 100px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    border-radius: 17px;
}

/* cor de fundo das categorias */
.categoria_cmp95,
.categoria_ckc95 {
    color: var(--background-principal);
    background: var(--categoria-ckc-95);
}
.categoria_cmp110,
.categoria_ckc110 {
    color: var(--background-principal);
    background: var(--categoria-ckc-110);
}

.categoria_cmpLivre,
.categoria_ddlLivre{
    background: var(  --categoria-ddl-livre);
}
.date span { 
    font-size: 2.4rem;
    font-weight: 700;
}
.time{ 
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.address{
    gap: .9rem;
}
.locale strong {
    text-decoration: underline;
    font-weight: normal;
}


@media(min-width: 750px){
    
    section.cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}