.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.text {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    height: auto;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
}

.title{
    font-size: 4rem;
}

.img{
    width: 29rem;
    height: 29rem;
    padding: 2rem;
    border-radius: 17px;
    background-color: var(--background-campos);
}
img {
    max-width: 15.4em;
}
.history{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.buttonRegulaion{
    margin-top: 2rem;
}

button.regulation{
    font-weight: 600;
    background-color: #730202;
}


@media(min-width: 750px){

    section.text {
        display: flex;
        margin: 1rem;
        text-align: center;
        align-items: center;
        flex-direction: row;
        gap: 3rem;
    }
    .history{
        margin-left: 8rem;
        margin-right: 4rem;
    }

    /* tamanho da imagem */
    img {
        max-width: 26.4em;
    }

    /* fundo da imagem */
    .img{
        width: 51rem;
        height: 51rem;
        margin-right: 8rem;
        padding: 5rem;
    }

    .buttonRegulaion{
        margin-top: 3rem;
    }
}