/* CORPO DA PAG */
main, footer{
    display: block;
    padding-block: 2rem;
    margin-inline: 1.6rem;
}

/* bt de voltar */
div#bt-go-back {
    display: flex;
    margin: .3em;
    align-items: center;
    justify-content: flex-start;
   
}

/* seta do voltar */
i.ph.ph-caret-left {
    top: .1rem;
    position: relative;
}

/* section */
.container{
    height: calc(100% - 5rem);
    padding-block: 1.6rem;
    text-align: center;

}

/* Mudando o tamanho da imagem */
.Image-Text img {
    max-width: 90vw;
    height: auto;
    z-index: -1;
    position: relative;
}

/* Efeito Gradiente */
.Image-Text {
    max-width: 90vw; 
    background-image: radial-gradient(transparent 29%, #1E1A18 69%, #1E1A18 73%);
}

/* titulo */
h2{
    text-align: -webkit-left;
}

/* formulario */
form {
    display: flex;
    font-size: 1.7rem;
    margin-block: 4rem;
    flex-direction: column; /*mudei isso */
    align-items: center;
    gap: 3.5rem;
}

/* input's e label's */
.emails, .passwords {
    display: flex;
    width: 80%; /* Largura do formulário */
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.bt-cadastre{
    margin-block: -2rem;
    margin-inline: 1.5rem
}

.emails label,
.passwords label {
    align-self: flex-start; /* Alinha os rótulos à esquerda */
    margin-left: 10px; /* Adiciona um espaço entre o rótulo e o input */
}

/* Ajuste da largura dos inputs dentro das divs .emails e .passwords */
.emails input, .passwords input {
    width: calc(100% - -25px); /* Ajusta a largura para considerar a margem esquerda do rótulo e a largura do link "Esqueci minha senha" */
}



/* Estilo para o link "Esqueci minha senha" */
.passwords a {
    align-self: flex-start; /* Alinha o link à esquerda */
    margin-left: 10px; /* Adiciona um espaço entre o link e o input */
}


/* Layout Responsivo */

/* max-width: 425px argura da tela for igual ou menor que 768 pixels*/
@media (min-width: 426px ) {
    
    /* Centralizando elementos */
    .bt-go-in, .bt-cadastre{
        width: calc(51% - 38px); /*largura dos botões para os dois ficarem no mesmo tamanho*/
        position: absolute;
        display: inline-grid;
        margin-block: -1rem;
    }
    /* botão de entra */
    .passwords .bt-go-in{
        align-self: first baseline;
    }
    
    
    /* alinhando com o bt de cadastrar - altura */
    .bt-go-in {
        margin-top: 25.7rem;
        margin-left: -48%;
    }
    .bt-cadastre{
        
        margin-inline: 1.5rem;
    }
    
}
@media (min-width: 472px ) {
    
    form{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding-inline: 1.6rem;
    }

    .bt-go-in {
        margin-top: 14.3rem;
        margin-left: -2%;
    }
}

/* alinhando elemento ao lado da imagem */

/* min-width: 768px largura da tela for igual ou maior que 768 pixels */
@media (min-width: 600px ) {

    form{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .bt-go-in {
        display: inline-grid;
        position: absolute;
        margin-top: none;
        margin-left: none;
       }
}

/* colocando o form em block na direita */
@media (min-width: 768px ) {

       form{
        display: flex;
        justify-content: space-between;
       }

}