*{/*todos os elenentos da pagina(zerando as medidas padrão do navegador)*/
    margin: 0; /*espaço a redor 'margem' das caixas*/
    padding: 0; /*preenchimento interno das caixas*/
    box-sizing: border-box; /*resetar a caixa para que ela possa fazer calculos da borda*/
    -webkit-font-smoothing: antialiased; /*serve para deixar a fonte menos groceira no navegador chrome esafari*/
    -moz-osx-font-smoothing:grayscale; /*serve para deixar a fonte menos groceira no navegador firefox*/
}

:root{
    font-size: 62.5%;

    --background-principal:#fff ;/*COR CERTA -> #1E1A18*/
    --text-base-light: #000; /* COR CERTA -> #fff */
    --color-button: #0033C1;
    --background-campos:#fff ;/*COR CERTA -> #232121*/
    --fonte-title: "Chakra Petch", sans-serif; 
}

body{
    background-color: var(--background-principal);
    color: var(--text-base-light);
    font-size: 1.6rem;
    font-family: var(--fonte-title);
    font-weight: 300; 
}

nav img{
    max-width: 5.4rem;
    height: auto;
}

h1,h2, button, .bt-cadastre{
    font-weight: 700;
}

input {
    /* depois por o tamnaho - "width" */
    border: solid;
    border-width: 2px;
    border-radius: 14px;
    border-color: var(--color-button);
    width: 25rem;
    padding: 1.3rem;
    background: var(--background-campos);
    outline: none;
    box-sizing: border-box;
}

label {
    color: var(--text-base-light);  
}

a{
    color: var(--text-base-light);
    text-decoration: none;
}

button, .bt-cadastre {
    padding: 1.3rem;
    width: 25rem;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    background-color: var(--color-button);   
    color: var(--text-base-light);
}