/* CORPO DA PAG */
main{
    display: block;
    padding-block: 2rem;
    margin-inline: 1.6rem;
}

/* section */
.container{
    height: calc(100% - 5rem);
    padding-block: 1.6rem;
    text-align: center;

}

/* Mudando o tamanho da imagem */
.Image-Text img {
    max-width: 90vw;
    height: auto;
    z-index: -1;
    position: relative;
}

/* Efeito Gradiente */
.Image-Text {
    display: flex;
    height: auto;
    padding: 1rem;
    max-width: 100vw; 
    justify-content: center;
    background-image: radial-gradient(transparent 29%, #1E1A18 69%, #1E1A18 73%);
}

/* titulo */
.subTitle{
    font-size: 3rem;
    z-index: 1;
    text-align: -webkit-left;
}

/* formulario */
.formulario {
    display: flex;
    font-size: 1.7rem;
    margin-block: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}
.emails, .passwords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.emails label,
.passwords label, .passwords a {
    align-self: flex-start; /* Alinha os rótulos à esquerda */
    margin-left: .1rem; /* Adiciona um espaço entre o rótulo e o input */
}

/* Ajuste da largura dos inputs dentro das divs .emails e .passwords */
.emails input, .passwords input {
    width:24rem; /* Ajusta a largura para considerar a margem esquerda do rótulo e a largura do link "Esqueci minha senha" */
}


@media(min-width:768px){

    section.container {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .subTitle {
        order: -1;
    }

    .subTitleImg {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
    }
    .Image-Text img {
        max-width: 59vw;
    }
        
}

@media(min-width:900px){
    
    .Image-Text img {
        max-width: 66vw;
    }

}

@media(min-width:1080px){
    
    section.container {
        gap: 7rem;
    }

    .Image-Text img {
        max-width: 60vw;
    }

}

@media(min-width:1200px){
    
    section.container {
        gap: 9rem;
    }

}